body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #AFC8DB;
    background-color: #1A1F23;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header .banner {
    width: 100%;
    height: 18vh;
    overflow: hidden;
    background-color: #112433;
}

.header .banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(-50%);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #112433;
    padding: 0.8rem 2rem;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    flex: 1;
    justify-content: flex-end;
}

#name {
    margin-right: auto;
}

#name a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #AFC8DB;
}

#name a:hover {
    color: #FF6F61;
    text-decoration: underline;
}

.nav li a {
    text-decoration: none;
    color: #AFC8DB;
    font-size: 1.2rem;
}

.nav li a:hover {
    color: #FF6F61;
    text-decoration: underline;
}

.content {
    padding: 2rem;
    max-width: 800px;
    margin: 3rem auto;
    background-color: #292F33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #AFC8DB;
    flex: 1;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.project-images img {
    max-width: 800px;
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 1.5rem;
}

.content ul li a {
    text-decoration: none;
    color: #AFC8DB;
}

.content ul li a:hover {
    color: #FF6F61;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #112433;
    color: #AFC8DB;
    margin-top: auto;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        gap: 1rem;
    }

    #name {
        margin-right: 0;
    }

    .content {
        padding: 1.5rem;
        max-width: 100%;
    }

    .project-images img {
        max-width: 100%;
    }
}
